#menu
  %ul#menu
    %li
      = link_to 'home', root_path, :class => "menu"
    %li
      = link_to 'wyszukaj trasę', "/", :class => "menu"
    %li
      = link_to 'dodaj trasę', new_drive_path, :class => "menu"
    %li
      = link_to 'profil', "/", :class => "menu"
