#loginPanel
  %span
    HITCHHIKER
  %span#right
    - if current_user
      zalogowany jako
      %span#userName
        = link_to current_user.name, ""
      = link_to 'wyloguj się', destroy_user_session_path, :method => :delete
    - else
      = link_to 'zaloguj się', new_user_session_path
      = link_to 'zarejestruj się', new_user_registration_path
